{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block body %}

<div class="container" style="margin-right: 0">

    {% with messages = get_flashed_messages() %}

    {% if messages %}

    {% for message in messages %}

       <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">X</span>
        </button>
			{{message}}
       </div>
    {% endfor  %}

    {% endif %}

    {% endwith %}

    <h1>Вход в систему</h1>

    <form action="" method="post" validate>
      {{form.csrf_token}}
      <p>
          <label>Логин</label>
          {{form.login(size=32, class="form-control", style="width:25%")}}

          {% for error in form.login.errors %}
          <span style="color:red;">
              {{error}}
          </span>
          {% endfor %}

      </p>
	  <p>
          <label>Пароль</label>
          {{form.password(size=32, class="form-control", style="width:25%")}}

          {% for error in form.password.errors %}
          <span style="color:red;">
              {{error}}
          </span>
          {% endfor %}
      </p>
      <p>
		<input type="submit" value="Вход" class="btn btn-success">
          <a href="/register" style="margin-left: 25px">Регистрация</a>
      </p>
    </form>

</div>

{% endblock %}